<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>Edit your post</h1>
    <p>Post Id : <%=post.id%></p>
    <p>Post username : @<%=post.username%></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH" class="form form-new-submit">
        <textarea rows="10" cols="35" name="content"><%=post.content%></textarea><br>
        <button id="submit-btn">Submit</button>
    </form>
    <a href="http://localhost:3000/posts">Back</a>
</body>
</html>