<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <form method="post" action="/posts" class="form form-new-submit">
        <input placeholder="enter your username" name="username"><br><br>
        <textarea placeholder="Write your post" name="content"></textarea><br>
        <button id="submit-btn">Submit Post</button>
    </form>
    <a href="http://localhost:3000/posts">Back</a>
</body>
</html>